<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs');%>
	<title>form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
		.container{
			margin-top: 8%;
			border: ridge 1.5px white;
			padding: 20px;
		}
		
	</style>
</head>
<body>
	<div>
		
	</div>
	<div class="container">
		<h2>Add product</h2>
	<form action="/addproduct1" method="post">
		<div class="form-group">
    <label> Name</label>
    <input type="text" class="form-control" id="product_name" name="name">
  </div>

  
  <div class="form-group">
    <label for="lastname">Image url</label>
    <input type="url" class="form-control" id="product_imag" name="imag" >
  </div>




  <div class="form-group">
    <label for="lastname">Price</label>
    <input type="text" class="form-control" id="product_price" name="price">
  </div>
  <div class="form-group">
    <label for="phoneno">Quantity</label>
    <input type="text" class="form-control" id="product_quantity" name="quantity">
  </div>
  <div class="form-group">
    <label for="Email1">Description</label>
    <input type="text" class="form-control" id="product_desc" aria-describedby="emailHelp" name="description">
  </div>
  
  <button type="submit" class="btn btn-primary" name="create">Add product</button>
</form>
</div>
</body>
</html>
